<<<<<<< HEAD
@import 'mixins';
$font-family: 'Open Sans', sans-serif;

.header-container{
  background-color: #eff5f6;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include respond(tab-extra) {
    display: none;
 }

=======
$font-family: 'Open Sans', sans-serif;
.header-container{
  background-color: #eff5f6;
  padding-top: 10px;
  padding-bottom: 10px;
>>>>>>> 994641b0b6c61ca54ecbae6d02ad673ad387a4d0
  .header {
    display: flex;
    justify-content: space-between;
    text-align: center;
<<<<<<< HEAD
    font-size: 1.6rem;
=======
>>>>>>> 994641b0b6c61ca54ecbae6d02ad673ad387a4d0

    .header__phone{
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
          transform: rotate(45deg);
        }
      }

    }

    .header__mail {
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
<<<<<<< HEAD
          padding-right: .7rem;
=======
          padding-right: 7px;
>>>>>>> 994641b0b6c61ca54ecbae6d02ad673ad387a4d0
        }
      }

    }

    .header__map {
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
<<<<<<< HEAD
          padding-right: .7rem;
=======
          padding-right: 7px;
>>>>>>> 994641b0b6c61ca54ecbae6d02ad673ad387a4d0
        }
      }

    }
    .header__calendar{
      display: flex;
      justify-content: center;
      align-items: center;
      i{
<<<<<<< HEAD
        padding-right: .7rem;
=======
        padding-right: 7px;
>>>>>>> 994641b0b6c61ca54ecbae6d02ad673ad387a4d0
      }
      p{
        margin: 0;
        font-family: $font-family;
      }
    }
    .header__license{
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        margin: 0;
        font-family: $font-family;
      }
    }
  }
}
<<<<<<< HEAD

.navbar-expand-lg .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 3rem;

}

.header-logo__logo2{
  display: none;
  @include respond(tab-extra) {
    display: block;
}
}
=======
>>>>>>> 994641b0b6c61ca54ecbae6d02ad673ad387a4d0
