$font-family: 'Open Sans', sans-serif;
.header-container{
  background-color: #eff5f6;
  padding-top: 10px;
  padding-bottom: 10px;
  .header {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .header__phone{
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
          transform: rotate(45deg);
        }
      }

    }

    .header__mail {
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
          padding-right: 7px;
        }
      }

    }

    .header__map {
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: black;
        font-family: $font-family;
        i{
          padding-right: 7px;
        }
      }

    }
    .header__calendar{
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        padding-right: 7px;
      }
      p{
        margin: 0;
        font-family: $font-family;
      }
    }
    .header__license{
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        margin: 0;
        font-family: $font-family;
      }
    }
  }
}
