.container-fluid
    .container
        .row
            .col-lg-12
                .header
                    .header__phone


                        a(href='tel:+74991165427') +7(499) 116-54-27

                    .header__mail
                        a(href='mailto:vlad@htmlbook.ru') info@reprobank.ru


                    .header__map
                        a(href="https://yandex.ru/maps/-/CGdXf2Ii") Москва,ул.Ивана Бабушкина,дом 9

                    .header__calendar
                        p пн-сб, 9:00 - 17:00

                    .header__license
                        p Лицензия № ЛО-77-01-017997