.container-fluid
    .container.container-navigation
        .row
            .col-lg-12
                .navigation
                    ul
                        li
                            a(href="#") Персональный банк
                        li
                            a(href="#") Донорский банк
                        li
                            a(href="#") Каталог доноров
                        li
                            a(href="#") Транспортировка
                        li
                            a(href="#") О репробанке
                        li
                            a(href="#") Новости и Акции
                        li
                            a(href="#") Контакты