.container-fluid.container-plans
    .container
        .row
            .col-lg-12.container-main
                .plans-text
                    h1 Если вы планируете беременность после 35…
                    p
                        | Беременность после 35 лет — нормальное явление среди современных женщин. Многие
                        br
                        |  откладывают рождение ребенка, потому что хотят сначала «пожить для себя», сделать карьеру,
                        br
                        |  чего-то добиться в жизни. Это разумно.
                        | Но с возрастом шансы забеременеть снижаются. Они наиболее высоки в 20 лет.
                .plans-link
                    a(href="#") Но с возрастом шансы забеременеть снижаются. Они наиболее высоки в 20 лет.

                .plans-textt
                    p
                        | У 35-летней женщины вероятность наступления беременности во время одного цикла составляет лишь 20%.
                        br
                        |  Это означает, что 80% женщинам придется повторить попытку в следующем цикле. И она не обязательно
                        br
                        |  окажется успешной. К 40 годам шансы снижаются до 5%. В первую очередь это связано со снижением
                        br
                        |  овариального резерва — в яичниках остается все меньше яйцеклеток, готовых к овуляции и
                        br
                        |  оплодотворению.






